.card-button {
  cursor: pointer;
  background-color: #f5ece5;
  margin-top: 46px !important;
  display: inline-block;
  transition: margin-top 200ms, margin-bottom 200ms, background-color 200ms;
}
.card-button-icon {
  color: #ecccb7;
  font-size: 44px;
}

.card-button:hover {
  background-color: #ecccb7;
  margin-top: 38px !important;
  margin-bottom: 8px !important;
}

.card-button:hover .card-button-icon {
  color: #fefaf6;
}

@media screen and (max-width: 600px) {
  .card-button {
    margin-top: 0px !important;
  }

  .card-button:hover {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
