.line-chart-container {
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 300px;
}

.line-chart-container > canvas {
  height: 300px !important;
}

.line-chart-container > .Target-root {
  height: 300px !important;
}

.line-chart-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  left: 1%;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  bottom: 30px;
}
