tbody {
  display: block;
  overflow-y: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.comparison > tbody {
  max-height: calc(100vh - 220px) !important;
}
.comparison > tbody > tr > td:nth-child(2n) {
  background-color: #fefaf6;
}
.comparison > tbody > tr > td {
  padding: 10px 0;
}

.comparison > thead > tr > th {
  padding-top: 12px;
}
.comparison > thead > tr > th:nth-child(2n) {
  background-color: #fefaf6;
}
.comparison > div > thead > tr > th:nth-child(2n) {
  background-color: #fefaf6;
}

.comparison > div > thead > tr > th {
  padding-top: 12px;
}
