.property-details {
  position: fixed;
  right: -100vw;
  top: 0;
  z-index: 100000000;
  width: 100%;
  background-color: #fff;
  max-width: 966px;
  height: 100vh;
  box-shadow: -20px 0px 40px #0000001a;
  transition: right 500ms;
  display: inline-block;
  /* left: -60px; */
  z-index: 6;
}
.property-details-open {
  right: 0;
}
