.send-request-button {
  animation: animateRequestButton 500ms ease;
  transform: translateY(41px);
}

@keyframes animateRequestButton {
  from {
    transform: translateY(78px);
  }
  to {
    transform: translateY(41px);
  }
}

.forgot-pass-from {
  opacity: 0;
  margin-right: -200px;
  animation: animateComponentFrom 700ms ease;
}

@keyframes animateComponentFrom {
  from {
    opacity: 1;
    margin-right: 0;
  }
  to {
    opacity: 0;
    margin-right: -200px;
  }
}
.forgot-pass-to {
  opacity: 1;
  margin-right: 0;
  animation: animateComponentTo 500ms ease;
}

@keyframes animateComponentTo {
  from {
    opacity: 0;
    margin-right: -200px;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}
