.chart-dataset-label::before {
  content: "";
  position: absolute;
  height: 0.875rem;
  width: 0.875rem;
  background: var(--label-point-color);
  border-radius: 50%;
  left: calc(-0.875rem - 5px);
  top: 0.15rem;
  border: 1px solid #f2efe6;
}
